<div id="pagewrap">
	<div id="holder">
		<form id="basicinfo">
			<h4>Sign Up</h4>
			<div class="info">
				<label for="firstname">First Name</label>
				<input type="text" name="firstname" placeholder="First Name">
			</div>
			<div class="info">
				<label for="lastname">Last Name</label>
				<input type="text" name="lastname" placeholder="Last Name">
			</div>
			<div class="info">
				<label for="phonenumber">Phone</label>
				<input type="text" name="phonenumber" placeholder="Phone Number">
			</div>
			<div class="info">
				<label for="email">Email</label>
				<input type="text" name="email" placeholder="Email">
			</div>

<!-- 			<input type="radio" name="sex" value="male">Male
			<input type="radio" name="sex" value="female">Female
			<input type="submit" value="Submit"> -->

		</form>
	</div>
</div>
