	<div id="pagewrap">
		<div id="holder">
			<form id="basicinfo">
				<h4>Sign Up</h4>
				<input type="text" name="firstname" placeholder="First Name">
				<input type="text" name="lastname" placeholder="Last Name"><br>
				<input type="text" name="phonenumber" placeholder="Phone Number"><br>
				<input type="text" name="email" placeholder="Email"><br>
				<input type="radio" name="sex" value="male">Male
				<input type="radio" name="sex" value="female">Female <br>
				<input type="submit" value="Submit">
			</form>
		</div>
	</div>