*
	margin: 0
	padding: 0

body
	background: #EDF0F5

header
	height: 45px
	background: #E7CDB3

#pagewrap

	width: 100%
	background: #EDF0F5

#holder
	width: 500px
	margin-left: 400px
	margin-top: 30px
	background: white

form#basicinfo
	padding-top: 40px
	width: 500px
	background: whitesmoke
	height: 700px

h4
	text-align: center


.info
	margin: 10px
input
	height: 18px
	float: right
	margin-right: 251px

label
	font-size: 16px

// input[type="submit"]
// 	margin-top: 20px
// input[name="sex"]
