// Place all the styles related to the forms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

*
	margin: 0
	padding: 0

body
	background: #EDF0F5

header
	height: 45px
	background: #E7CDB3

#pagewrap 
	width: 980px
	background: #EDF0F5

#holder
	width: 500px
	float: right
input 
	height: 18px

input[type="submit"]
	margin-top: 20px
input[name="sex"]
